#hello{
  color: #ffffff;
  font: arial, sans-serif;
}

@media only screen and (max-width: 500px) {
    #hello{
      color: #00ff00;
      font: arial, sans-serif;
    }
}

body{
  background-image: url("/Users/josephlesca/Desktop/JoeDocs/red_panda/devbootcamp/2.5_solo_challenge/jlesca1.github.io/barbed_wire.jpg");
}

.main_body{padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 60px;
    margin: auto;
    border: 1px solid black;
    max-width: 800px;
    background: white;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}